body,html{
	margin:0;
	height: 100%;
	width: 100%;

}

p{
	margin:0;
}

a {
	color: white;
	text-decoration: none;
}

a:hover{
	text-decoration: underline; /*blink;*/
	color: white;
}

.header{
	height: 100%;
	width: 100%;
	background-image: url("../images/07.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin: auto;
	
	
}
.title{
	height: 10%;
	width: 20%;
	color: white;
	text-align: center;
	position:fixed;
	right:10%;
	top:15%;
	font-size:2.5vw;
	font-family: "Helvetica", sans-serif;
}

.text1{
	height: 7%;
	width: 30%;
	color: white;
	text-align: center;
	position:absolute;
	left:2%;
	top:105%;
	font-size:2.5vw;
	font-family: "Helvetica", sans-serif;
}
.content1{
	margin:0;
	height: 100%;
	width: 100%;
	background-image: url("../images/01.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}
.text2{
	height: 7%;
	width: 30%;
	color: white;
	text-align: center;
	position:absolute;
	left:7%;
	top:205%;
	font-size:2.5vw;
	font-family: "Helvetica", sans-serif;
}

.content2{
	margin:0;
	height: 100%;
	width: 100%;
	background-image: url("../images/03.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}
.text3{
	height: 7%;
	width: 30%;
	color: white;
	text-align: center;
	position:absolute;
	left:4%;
	top:306%;
	font-size:2.5vw;
	font-family: "Helvetica", sans-serif;
}
.content3{
	margin:0;
	height: 100%;
	width: 100%;
	background-image: url("../images/05.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

.footer{
	clear:both;
	margin:0;
	width: 100%;
	color: white;
	text-align: center;
	position:absolute;
	bottom:0px;
	font-size:2vw;
	font-family: "Helvetica", sans-serif;
}